<h2>เมนูอาหาร</h2>
<hr />
<h3>อาหารคาว</h3>
<div class="row">
    <div class="col-4">
        <div class="card">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzYETp-aBA9Jfd4bS_eyGL-u0I-WkkXTgrHw&s">

            <div class="card-body">

                <div class="card-title h5">
                    ข้าวผัดปูไทย
                </div>

            </div>

        </div>
    </div>



    <div class="col-4">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJyEJv1bR-G7cixUcYRxqbcw2UBWGxtdGoIA&s">
            <div class="card-body">
                <div class="card-title h5">
                    ข้าวผัดกะเพราลูกชิ้น
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJUZSkBK8nPOwT7-HdjJfvM1pqV3Tg3NnsjaFpOOocvCHArZClWIvvPf31kJB1Gjg1_68&usqp=CAU.">
            <div class="card-body">
                <div class="card-title h5">
                    ผัดฉ่าปลาฉลาม
                </div>
            </div>
        </div>
    </div>


</div>
<hr/>
<h3>ของหวาน</h3>
    <hr/>
<div class="row">
    <div class="col-4">
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiYoBH4mi8XF2NykKyjsYm62w90-4g6L5jFQ&s">
            <div class="card-body">
                <div class="card-title h5">
                   ขนมเบื้อง
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4bonYTVCLCCkumWG2rH58Tj73VYvVsa-sdsIGfdhMRirhuXLx2DEqcF19ciFdwi9SL30&usqp=CAU">
            <div class="card-body">
                <div class="card-title h5">
                   ข้าวเหนียวมะม่วง
                </div>
            </div>
        </div>
    </div>
    

    <div class="col-4">
        <div class="card">
            <img
                src="https://s359.kapook.com/r/600/auto/pagebuilder/828a37e8-4a0f-4f9d-ab59-c89d0b275a92.jpg">
            <div class="card-body">
                <div class="card-title h5">
              ไอศกรีมกะทิ
                </div>
            </div>
        </div>
    </div>
</div>
