<h2>ยินดีต้อนรับสู้ระบบการจองโต๊ะ!</h2>

<form>
    <div class="mb-3">
      <label for="inputname" class="form-label">ชื่อผู้จอง</label>
      <input type="text" class="form-control" id="inputname" >
    
    </div>
    <div class="mb-3">
      <label for="inputvalue" class="form-label">จำนวนคน</label>
      <input type="varchar" class="form-control" >
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
